/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 引入sass变量 */
@import '@/assets/variables.css';
//引入theme
@import '@/assets/theme.scss';
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', STHeiti,
  'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Source Han Sans TC', 'Noto Sans CJK TC',
  'WenQuanYi Micro Hei', SimSun, sans-serif;
}

// 设置全局字体
body {
  max-width: 100vw;
  overflow-x: hidden;
  @include useTheme {
    background: getVar('bgColor');
    color: getVar('textColor');
  }
}

html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

// scoller
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 32px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 32px;
}

/**
* 修改 element-plus 样式
*/
// el-dialog
.el-dialog {
  border-radius: 10px !important;

  .el-dialog__header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px #ddd solid;

    .el-dialog__headerbtn {
      height: 30px;
    }

    .el-dialog__title {
      margin-left: 20px;
      color: #000;
    }
  }

  .el-dialog__body {
    padding: 0 !important;
  }
}

// el-input
div.el-input__wrapper {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  letter-spacing: normal;

  input[type='password'] {
    font-family: Arial, serif;
  }
}

// .el-drawer
.el-drawer {
  @apply m-0;
  .el-drawer__header {
    @apply m-0;
    border-bottom: 1px #ddd solid;
  }

  .el-drawer__body {
    @apply flex flex-col justify-between;
  }
}

// .el-menu
.el-menu {
  border: none !important;
}

.link {
  @include useTheme {
    color: getVar('colorPrimary');
  }
  text-decoration: none;
  cursor: pointer;
}
