/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* tailwind.css */

* {
  padding: 0;
  margin: 0;
}

/**
* 引入字体
*/
@font-face {
  font-family: '思源黑体';
  src: url('./fonts/思源黑体/SourceHanSansCN-Normal.otf');
}

@font-face {
  font-family: '思源黑体 Bold';
  src: url('./fonts/思源黑体/SourceHanSansCN-Bold.otf');
}

html {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

body {
  background: #eee;
  font-family: 思源黑体, serif;
}

// scoller
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 32px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 32px;
}

/**
* 修改 element-plus 样式
*/
// el-dialog
.el-dialog {
  border-radius: 10px;
  backdrop-filter: blur(10px);

  .el-dialog__header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px #ddd solid;

    .el-dialog__headerbtn {
      height: 30px;
    }

    .el-dialog__title {
      margin-left: 20px;
      color: #000;
    }
  }

  .el-dialog__body {
    padding: 0 !important;
  }
}

// el-input
div.el-input__wrapper {
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

// el-popper
.el-popper {
  @apply border-none;
  .el-menu-item.is-active {
    @apply bg-[#1890ff];
  }

  .el-menu-item:hover {
    @apply bg-[#1890ff];
  }

  .el-menu--popup {
    @apply p-0;
  }
}

.link {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
}
